<table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Uid</th>
      <th>Provider</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= current_user.username %></td>
      <td><%= image_tag current_user.image, size:'40x40' if current_user.image? %></td>
      <td><%= current_user.uid%></td>
      <td><%= current_user.provider%></td>
    </tr>
  </tbody>
</table>